<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Raleway:wght@400;500;600;700;800&family=Roboto+Slab:wght@400;500;600;700;800&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../dist/output.css">

    <title>Forgot Password</title>
</head>
<body class="bg-bg-body flex justify-center items-center">

    <main>
        <section class="bg-[#fff] my-20 px-16 py-20 rounded-lg shadow-shadow-bg">
            <div class="container font-inter-font flex flex-col justify-center items-center">
                <div class="img-container border-[.1em] border-bg-lavender p-3 rounded-full flex justify-center items-center">
                    <img class="w-16" src="../images/icon-key.png" alt="">
                </div>
                <div class="heading my-5">
                    <h1 class="text-center font-semibold text-2xl">Forgot Password</h1>
                    <p class="text-center text-text-gray">No Worries, we'll send you reset instructions.</p>
                </div>
                <form action="#" method="POST">
                    <div class="form__group flex flex-col mb-5">
                        <label class="font-semibold" for="email">Email</label>
                        <input class="form-input rounded-lg font-inter-font font-medium text-base" type="email" name="email" id="email" placeholder="Enter your email" required>
                    </div>
                    <div class="form__group flex mb-3">
                        <input class="form-input w-full bg-bg-lavender font-medium text-base rounded-lg text-[#fff] hover:bg-bg-lavender-100" type="submit" value="Reset password">
                    </div>
                </form>
                <a class="flex flex-row justify-center items-center text-text-gray active:text-link-ative" href="../index.html"><img class="w-8 mr-2" src="../images/icon-left.png" alt="">
                    Back to log in
                </a>
            </div>
        </section>
    </main>
    
</body>
</html>